/* ---------------------------------
   General Styles
   --------------------------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* ---------------------------------
   Header
   --------------------------------- */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

#seo {
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
}

/* ---------------------------------
   Main
   --------------------------------- */

#splash img {
    width: 100%;
    margin-bottom: 25px;
}

/* 'Features' will appear in blocks on the left side of the page,
   with decorative images and text. */
main #features {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.feature-item {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.feature-item img {
    max-height: 200px;
}

.feature-item h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* 'Benefits' will appear in a continuous vertical block on the 
   right side of the page, with decorative icons and text. */
main #benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-item {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-item h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-item img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* ---------------------------------
   Footer
   --------------------------------- */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
